In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
print(pd.__version__)

1.5.3

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving football_salaries_2023_OUTPUT.csv to football_salaries_2023_OUTPUT.csv

In [ ]:
#df is just a variable. We could name it something else
df = pd.read_csv("football_salaries_2023_OUTPUT.csv")

In [ ]:
#top 5 rows
df.head()

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
0,Kevin De Bruyne,Manchester City,Starter,F,AM,32,Belgium,True,False,"Apr 7, 2021",...,NaN,"€ 47,922,060","€ 26,357,133","£ 41,600,000","£ 22,880,000","$ 51,163,183","$ 28,139,750",NaN,NaN,NaN
1,Erling Haaland,Manchester City,Starter,F,CF,23,Norway,True,False,"Jul 1, 2022",...,"$ 16,714,126","€ 89,853,863","€ 49,442,664","£ 78,000,000","£ 42,920,000","$ 95,930,968","$ 52,786,630","€ 199,291,260","£ 173,000,000","$ 212,769,967"
2,Mohamed Salah,Liverpool,Starter,F,RW,31,Egypt,True,False,"Jul 1, 2022",...,"$ 1,758,734","€ 41,931,803","€ 23,062,491","£ 36,400,000","£ 20,020,000","$ 44,767,785","$ 24,622,282",NaN,NaN,NaN
3,Casemiro,Manchester United,Starter,M,DM,31,Brazil,True,False,"Aug 22, 2022",...,"$ 3,517,469","€ 62,897,704","€ 34,593,737","£ 54,600,000","£ 30,030,000","$ 67,151,677","$ 36,933,423",NaN,NaN,NaN
4,Raphaël Varane,Manchester United,Starter,D,CB,30,France,True,False,"Aug 14, 2021",...,NaN,"€ 40,733,751","€ 22,394,347","£ 35,360,000","£ 19,440,000","$ 43,488,705","$ 23,908,949",NaN,NaN,NaN

In [ ]:
#shows you the size of the thing
df.shape

(565, 39)

In [ ]:
#data types
df.info

<bound method DataFrame.info of                   name               club   status position position_detail  \
0      Kevin De Bruyne    Manchester City  Starter        F              AM
1       Erling Haaland    Manchester City  Starter        F              CF
2        Mohamed Salah          Liverpool  Starter        F              RW
3             Casemiro  Manchester United  Starter        M              DM
4       Raphaël Varane  Manchester United  Starter        D              CB
..                 ...                ...      ...      ...             ...
560  Philippe Coutinho        Aston Villa  Reserve        F              LW
561       Adama Traoré             Fulham  Reserve        F              RW
562        Luke Harris             Fulham  Reserve        F              AM
563    Emmanuel Dennis  Nottingham Forest  Reserve        F              CF
564      Calvin Bassey             Fulham  Reserve        D              CB

     age  country  active   loan        signed  ... bonus_net_usd  \
0     32  Belgium    True  False   Apr 7, 2021  ...           NaN
1     23   Norway    True  False   Jul 1, 2022  ...  $ 16,714,126
2     31    Egypt    True  False   Jul 1, 2022  ...   $ 1,758,734
3     31   Brazil    True  False  Aug 22, 2022  ...   $ 3,517,469
4     30   France    True  False  Aug 14, 2021  ...           NaN
..   ...      ...     ...    ...           ...  ...           ...
560   31   Brazil   False  False   Jul 1, 2022  ...           NaN
561   27    Spain    True  False  Aug 12, 2023  ...           NaN
562   18    Wales    True  False   Jul 1, 2023  ...           NaN
563   25  Nigeria   False  False  Aug 13, 2022  ...           NaN
564   23  Nigeria    True  False  Jul 28, 2023  ...           NaN

     total_gross_eur total_net_eur total_gross_gbp total_net_gbp  \
0       € 47,922,060  € 26,357,133    £ 41,600,000  £ 22,880,000
1       € 89,853,863  € 49,442,664    £ 78,000,000  £ 42,920,000
2       € 41,931,803  € 23,062,491    £ 36,400,000  £ 20,020,000
3       € 62,897,704  € 34,593,737    £ 54,600,000  £ 30,030,000
4       € 40,733,751  € 22,394,347    £ 35,360,000  £ 19,440,000
..               ...           ...             ...           ...
560              NaN           NaN             NaN           NaN
561              NaN           NaN             NaN           NaN
562              NaN           NaN             NaN           NaN
563              NaN           NaN             NaN           NaN
564              NaN           NaN             NaN           NaN

    total_gross_usd total_net_usd    release_eur    release_gbp    release_usd
0      $ 51,163,183  $ 28,139,750            NaN            NaN            NaN
1      $ 95,930,968  $ 52,786,630  € 199,291,260  £ 173,000,000  $ 212,769,967
2      $ 44,767,785  $ 24,622,282            NaN            NaN            NaN
3      $ 67,151,677  $ 36,933,423            NaN            NaN            NaN
4      $ 43,488,705  $ 23,908,949            NaN            NaN            NaN
..              ...           ...            ...            ...            ...
560             NaN           NaN            NaN            NaN            NaN
561             NaN           NaN            NaN            NaN            NaN
562             NaN           NaN            NaN            NaN            NaN
563             NaN           NaN            NaN            NaN            NaN
564             NaN           NaN            NaN            NaN            NaN

[565 rows x 39 columns]>

In [ ]:
df.head(565)

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
0,Kevin De Bruyne,Manchester City,Starter,F,AM,32,Belgium,True,False,"Apr 7, 2021",...,NaN,"€ 47,922,060","€ 26,357,133","£ 41,600,000","£ 22,880,000","$ 51,163,183","$ 28,139,750",NaN,NaN,NaN
1,Erling Haaland,Manchester City,Starter,F,CF,23,Norway,True,False,"Jul 1, 2022",...,"$ 16,714,126","€ 89,853,863","€ 49,442,664","£ 78,000,000","£ 42,920,000","$ 95,930,968","$ 52,786,630","€ 199,291,260","£ 173,000,000","$ 212,769,967"
2,Mohamed Salah,Liverpool,Starter,F,RW,31,Egypt,True,False,"Jul 1, 2022",...,"$ 1,758,734","€ 41,931,803","€ 23,062,491","£ 36,400,000","£ 20,020,000","$ 44,767,785","$ 24,622,282",NaN,NaN,NaN
3,Casemiro,Manchester United,Starter,M,DM,31,Brazil,True,False,"Aug 22, 2022",...,"$ 3,517,469","€ 62,897,704","€ 34,593,737","£ 54,600,000","£ 30,030,000","$ 67,151,677","$ 36,933,423",NaN,NaN,NaN
4,Raphaël Varane,Manchester United,Starter,D,CB,30,France,True,False,"Aug 14, 2021",...,NaN,"€ 40,733,751","€ 22,394,347","£ 35,360,000","£ 19,440,000","$ 43,488,705","$ 23,908,949",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,Philippe Coutinho,Aston Villa,Reserve,F,LW,31,Brazil,False,False,"Jul 1, 2022",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,Adama Traoré,Fulham,Reserve,F,RW,27,Spain,True,False,"Aug 12, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,Luke Harris,Fulham,Reserve,F,AM,18,Wales,True,False,"Jul 1, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,Emmanuel Dennis,Nottingham Forest,Reserve,F,CF,25,Nigeria,False,False,"Aug 13, 2022",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,Calvin Bassey,Fulham,Reserve,D,CB,23,Nigeria,True,False,"Jul 28, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head(3)

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
0,Kevin De Bruyne,Manchester City,Starter,F,AM,32,Belgium,True,False,"Apr 7, 2021",...,NaN,"€ 47,922,060","€ 26,357,133","£ 41,600,000","£ 22,880,000","$ 51,163,183","$ 28,139,750",NaN,NaN,NaN
1,Erling Haaland,Manchester City,Starter,F,CF,23,Norway,True,False,"Jul 1, 2022",...,"$ 16,714,126","€ 89,853,863","€ 49,442,664","£ 78,000,000","£ 42,920,000","$ 95,930,968","$ 52,786,630","€ 199,291,260","£ 173,000,000","$ 212,769,967"
2,Mohamed Salah,Liverpool,Starter,F,RW,31,Egypt,True,False,"Jul 1, 2022",...,"$ 1,758,734","€ 41,931,803","€ 23,062,491","£ 36,400,000","£ 20,020,000","$ 44,767,785","$ 24,622,282",NaN,NaN,NaN

In [ ]:
df.age.mean()

25.819469026548674

In [ ]:
df.age.median()

25.0

In [ ]:
df.age.value_counts()

26    54
23    52
24    50
25    46
27    40
22    40
28    36
21    34
30    34
29    31
20    28
31    28
32    19
19    18
18    14
33    13
34     8
35     8
38     4
36     4
37     2
39     1
17     1
Name: age, dtype: int64

In [ ]:
df.age.min()

17

In [ ]:
df.age.max()

39

In [ ]:
len(df)

565

In [ ]:
df[df.club == "Liverpool"]

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
2,Mohamed Salah,Liverpool,Starter,F,RW,31,Egypt,True,False,"Jul 1, 2022",...,"$ 1,758,734","€ 41,931,803","€ 23,062,491","£ 36,400,000","£ 20,020,000","$ 44,767,785","$ 24,622,282",NaN,NaN,NaN
20,Virgil van Dijk,Liverpool,Starter,D,CB,32,Netherlands,True,False,"Aug 13, 2021",...,NaN,"€ 26,357,133","€ 14,491,815","£ 22,880,000","£ 12,580,000","$ 28,139,750","$ 15,471,943",NaN,NaN,NaN
25,Thiago,Liverpool,Reserve,M,CM,32,Spain,True,False,"Sep 18, 2020",...,NaN,"€ 11,980,515","€ 6,589,283","£ 10,400,000","£ 5,720,000","$ 12,790,796","$ 7,034,938",NaN,NaN,NaN
37,Trent Alexander-Arnold,Liverpool,Starter,D,RB,24,England,True,False,"Jul 30, 2021",...,NaN,"€ 21,564,927","€ 11,865,318","£ 18,720,000","£ 10,300,000","$ 23,023,432","$ 12,667,807",NaN,NaN,NaN
50,Ryan Gravenberch,Liverpool,Reserve,M,CM,21,Netherlands,True,False,"Sep 1, 2023",...,NaN,"€ 8,985,386","€ 4,941,962","£ 7,800,000","£ 4,290,000","$ 9,593,097","$ 5,276,203",NaN,NaN,NaN
51,Alisson,Liverpool,Starter,K,GK,30,Brazil,True,False,"Aug 4, 2021",...,NaN,"€ 35,941,545","€ 19,767,850","£ 31,200,000","£ 17,160,000","$ 38,372,387","$ 21,104,813",NaN,NaN,NaN
54,Alexis Mac Allister,Liverpool,Starter,M,CM,24,Argentina,True,False,"Jul 1, 2023",...,"$ 1,057,700","€ 44,926,931","€ 24,709,812","£ 39,000,000","£ 21,450,000","$ 47,965,484","$ 26,381,016",NaN,NaN,NaN
59,Darwin Núñez,Liverpool,Reserve,F,CF,24,Uruguay,True,False,"Jul 1, 2022",...,NaN,"€ 41,931,803","€ 23,039,452","£ 36,400,000","£ 20,000,000","$ 44,767,785","$ 24,597,684",NaN,NaN,NaN
60,Diogo Jota,Liverpool,Reserve,F,LW,26,Portugal,True,False,"Aug 2, 2022",...,NaN,"€ 33,545,442","€ 18,431,562","£ 29,120,000","£ 16,000,000","$ 35,814,228","$ 19,678,147",NaN,NaN,NaN
67,Cody Gakpo,Liverpool,Starter,F,CF,24,Netherlands,True,False,"Jan 1, 2023",...,NaN,"€ 35,941,545","€ 19,756,330","£ 31,200,000","£ 17,150,000","$ 38,372,387","$ 21,092,514",NaN,NaN,NaN
71,Dominik Szoboszlai,Liverpool,Starter,F,AM,22,Hungary,True,False,"Jul 2, 2023",...,"$ 1,057,700","€ 35,941,545","€ 19,756,330","£ 31,200,000","£ 17,150,000","$ 38,372,387","$ 21,092,514",NaN,NaN,NaN
97,Andrew Robertson,Liverpool,Starter,D,LB,29,Scotland,True,False,"Aug 24, 2021",...,NaN,"€ 17,970,773","€ 9,883,925","£ 15,600,000","£ 8,580,000","$ 19,186,194","$ 10,552,406",NaN,NaN,NaN
98,Joel Matip,Liverpool,Starter,D,CB,32,Cameroon,True,False,"Oct 18, 2019",...,NaN,"€ 5,990,258","€ 3,294,642","£ 5,200,000","£ 2,860,000","$ 6,395,398","$ 3,517,469",NaN,NaN,NaN
133,Joe Gomez,Liverpool,Starter,D,CB,26,England,True,False,"Jul 7, 2022",...,NaN,"€ 20,366,876","€ 11,197,174","£ 17,680,000","£ 9,720,000","$ 21,744,353","$ 11,954,474",NaN,NaN,NaN
169,Konstantinos Tsimikas,Liverpool,Reserve,D,LB,27,Greece,True,False,"Sep 25, 2023",...,NaN,"€ 17,970,773","€ 9,906,964","£ 15,600,000","£ 8,600,000","$ 19,186,194","$ 10,577,004",NaN,NaN,NaN
175,Ibrahima Konaté,Liverpool,Reserve,D,CB,24,France,True,False,"Jul 1, 2021",...,NaN,"€ 12,579,541","€ 6,911,836","£ 10,920,000","£ 6,000,000","$ 13,430,335","$ 7,379,305",NaN,NaN,NaN
194,Adrián,Liverpool,Reserve,K,GK,36,Spain,True,False,"Jun 30, 2023",...,NaN,"€ 3,594,155","€ 1,981,393","£ 3,120,000","£ 1,720,000","$ 3,837,239","$ 2,115,401",NaN,NaN,NaN
210,Luis Díaz,Liverpool,Starter,F,LW,26,Colombia,True,False,"Jan 30, 2022",...,NaN,"€ 13,178,567","€ 7,234,388","£ 11,440,000","£ 6,280,000","$ 14,069,875","$ 7,723,673",NaN,NaN,NaN
256,Wataru Endo,Liverpool,Reserve,M,DM,30,Japan,True,False,"Aug 18, 2023",...,NaN,"€ 11,980,515","€ 6,589,283","£ 10,400,000","£ 5,720,000","$ 12,790,796","$ 7,034,938",NaN,NaN,NaN
288,Harvey Elliott,Liverpool,Reserve,F,AM,20,England,True,False,"Aug 11, 2022",...,NaN,"€ 9,584,412","€ 5,252,995","£ 8,320,000","£ 4,560,000","$ 10,232,637","$ 5,608,272",NaN,NaN,NaN
294,Stefan Bajcetic,Liverpool,Reserve,M,DM,18,Spain,True,False,"Jan 26, 2023",...,NaN,"€ 9,584,412","€ 5,252,995","£ 8,320,000","£ 4,560,000","$ 10,232,637","$ 5,608,272",NaN,NaN,NaN
446,Curtis Jones,Liverpool,Reserve,M,CM,22,England,True,False,"Nov 17, 2022",...,NaN,"€ 3,594,155","€ 1,981,393","£ 3,120,000","£ 1,720,000","$ 3,837,239","$ 2,115,401",NaN,NaN,NaN
504,Caoimhín Kelleher,Liverpool,Reserve,K,GK,24,Ireland,True,False,"Jun 24, 2021",...,NaN,"€ 1,797,077","€ 1,002,216","£ 1,560,000","£ 870,000","$ 1,918,619","$ 1,069,999",NaN,NaN,NaN

In [ ]:
df[df.club == "Liverpool"].age.mean()

26.26086956521739

In [ ]:
df[df.club == "Liverpool"].age.max()

36

In [ ]:
df[(df.club == "Liverpool") & (df.age == 36)]

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
194,Adrián,Liverpool,Reserve,K,GK,36,Spain,True,False,"Jun 30, 2023",...,NaN,"€ 3,594,155","€ 1,981,393","£ 3,120,000","£ 1,720,000","$ 3,837,239","$ 2,115,401",NaN,NaN,NaN

In [ ]:
df.sort_values("annual_gross_eur")

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
438,Ethan Horvath,Nottingham Forest,Reserve,K,GK,28,United States,True,False,"Jul 13, 2021",...,NaN,"€ 1,025,256","€ 564,467","£ 890,000","£ 490,000","$ 1,094,597","$ 602,643",NaN,NaN,NaN
418,Ben Osborn,Sheffield United,Reserve,M,CM,29,England,True,False,"Jun 26, 2023",...,NaN,"€ 1,198,052","€ 656,624","£ 1,040,000","£ 570,000","$ 1,279,080","$ 701,034",NaN,NaN,NaN
419,Harry Arter,Nottingham Forest,Reserve,M,CM,33,Ireland,True,False,"Sep 22, 2020",...,NaN,"€ 1,198,052","€ 656,624","£ 1,040,000","£ 570,000","$ 1,279,080","$ 701,034",NaN,NaN,NaN
420,Oliver Norwood,Sheffield United,Starter,M,CM,32,Northern Ireland,True,False,"Jan 4, 2019",...,NaN,"€ 1,198,052","€ 656,624","£ 1,040,000","£ 570,000","$ 1,279,080","$ 701,034",NaN,NaN,NaN
421,Ben Johnson,West Ham,Reserve,D,RB,23,England,True,False,"Jul 1, 2020",...,NaN,"€ 1,198,052","€ 656,624","£ 1,040,000","£ 570,000","$ 1,279,080","$ 701,034",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,Philippe Coutinho,Aston Villa,Reserve,F,LW,31,Brazil,False,False,"Jul 1, 2022",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,Adama Traoré,Fulham,Reserve,F,RW,27,Spain,True,False,"Aug 12, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,Luke Harris,Fulham,Reserve,F,AM,18,Wales,True,False,"Jul 1, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,Emmanuel Dennis,Nottingham Forest,Reserve,F,CF,25,Nigeria,False,False,"Aug 13, 2022",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,Calvin Bassey,Fulham,Reserve,D,CB,23,Nigeria,True,False,"Jul 28, 2023",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df.club == "Liverpool"].sort_values("annual_gross_eur", ascending = False)

,name,club,status,position,position_detail,age,country,active,loan,signed,...,bonus_net_usd,total_gross_eur,total_net_eur,total_gross_gbp,total_net_gbp,total_gross_usd,total_net_usd,release_eur,release_gbp,release_usd
446,Curtis Jones,Liverpool,Reserve,M,CM,22,England,True,False,"Nov 17, 2022",...,NaN,"€ 3,594,155","€ 1,981,393","£ 3,120,000","£ 1,720,000","$ 3,837,239","$ 2,115,401",NaN,NaN,NaN
50,Ryan Gravenberch,Liverpool,Reserve,M,CM,21,Netherlands,True,False,"Sep 1, 2023",...,NaN,"€ 8,985,386","€ 4,941,962","£ 7,800,000","£ 4,290,000","$ 9,593,097","$ 5,276,203",NaN,NaN,NaN
51,Alisson,Liverpool,Starter,K,GK,30,Brazil,True,False,"Aug 4, 2021",...,NaN,"€ 35,941,545","€ 19,767,850","£ 31,200,000","£ 17,160,000","$ 38,372,387","$ 21,104,813",NaN,NaN,NaN
54,Alexis Mac Allister,Liverpool,Starter,M,CM,24,Argentina,True,False,"Jul 1, 2023",...,"$ 1,057,700","€ 44,926,931","€ 24,709,812","£ 39,000,000","£ 21,450,000","$ 47,965,484","$ 26,381,016",NaN,NaN,NaN
59,Darwin Núñez,Liverpool,Reserve,F,CF,24,Uruguay,True,False,"Jul 1, 2022",...,NaN,"€ 41,931,803","€ 23,039,452","£ 36,400,000","£ 20,000,000","$ 44,767,785","$ 24,597,684",NaN,NaN,NaN
60,Diogo Jota,Liverpool,Reserve,F,LW,26,Portugal,True,False,"Aug 2, 2022",...,NaN,"€ 33,545,442","€ 18,431,562","£ 29,120,000","£ 16,000,000","$ 35,814,228","$ 19,678,147",NaN,NaN,NaN
71,Dominik Szoboszlai,Liverpool,Starter,F,AM,22,Hungary,True,False,"Jul 2, 2023",...,"$ 1,057,700","€ 35,941,545","€ 19,756,330","£ 31,200,000","£ 17,150,000","$ 38,372,387","$ 21,092,514",NaN,NaN,NaN
67,Cody Gakpo,Liverpool,Starter,F,CF,24,Netherlands,True,False,"Jan 1, 2023",...,NaN,"€ 35,941,545","€ 19,756,330","£ 31,200,000","£ 17,150,000","$ 38,372,387","$ 21,092,514",NaN,NaN,NaN
504,Caoimhín Kelleher,Liverpool,Reserve,K,GK,24,Ireland,True,False,"Jun 24, 2021",...,NaN,"€ 1,797,077","€ 1,002,216","£ 1,560,000","£ 870,000","$ 1,918,619","$ 1,069,999",NaN,NaN,NaN
98,Joel Matip,Liverpool,Starter,D,CB,32,Cameroon,True,False,"Oct 18, 2019",...,NaN,"€ 5,990,258","€ 3,294,642","£ 5,200,000","£ 2,860,000","$ 6,395,398","$ 3,517,469",NaN,NaN,NaN
97,Andrew Robertson,Liverpool,Starter,D,LB,29,Scotland,True,False,"Aug 24, 2021",...,NaN,"€ 17,970,773","€ 9,883,925","£ 15,600,000","£ 8,580,000","$ 19,186,194","$ 10,552,406",NaN,NaN,NaN
133,Joe Gomez,Liverpool,Starter,D,CB,26,England,True,False,"Jul 7, 2022",...,NaN,"€ 20,366,876","€ 11,197,174","£ 17,680,000","£ 9,720,000","$ 21,744,353","$ 11,954,474",NaN,NaN,NaN
169,Konstantinos Tsimikas,Liverpool,Reserve,D,LB,27,Greece,True,False,"Sep 25, 2023",...,NaN,"€ 17,970,773","€ 9,906,964","£ 15,600,000","£ 8,600,000","$ 19,186,194","$ 10,577,004",NaN,NaN,NaN
175,Ibrahima Konaté,Liverpool,Reserve,D,CB,24,France,True,False,"Jul 1, 2021",...,NaN,"€ 12,579,541","€ 6,911,836","£ 10,920,000","£ 6,000,000","$ 13,430,335","$ 7,379,305",NaN,NaN,NaN
194,Adrián,Liverpool,Reserve,K,GK,36,Spain,True,False,"Jun 30, 2023",...,NaN,"€ 3,594,155","€ 1,981,393","£ 3,120,000","£ 1,720,000","$ 3,837,239","$ 2,115,401",NaN,NaN,NaN
210,Luis Díaz,Liverpool,Starter,F,LW,26,Colombia,True,False,"Jan 30, 2022",...,NaN,"€ 13,178,567","€ 7,234,388","£ 11,440,000","£ 6,280,000","$ 14,069,875","$ 7,723,673",NaN,NaN,NaN
2,Mohamed Salah,Liverpool,Starter,F,RW,31,Egypt,True,False,"Jul 1, 2022",...,"$ 1,758,734","€ 41,931,803","€ 23,062,491","£ 36,400,000","£ 20,020,000","$ 44,767,785","$ 24,622,282",NaN,NaN,NaN
256,Wataru Endo,Liverpool,Reserve,M,DM,30,Japan,True,False,"Aug 18, 2023",...,NaN,"€ 11,980,515","€ 6,589,283","£ 10,400,000","£ 5,720,000","$ 12,790,796","$ 7,034,938",NaN,NaN,NaN
288,Harvey Elliott,Liverpool,Reserve,F,AM,20,England,True,False,"Aug 11, 2022",...,NaN,"€ 9,584,412","€ 5,252,995","£ 8,320,000","£ 4,560,000","$ 10,232,637","$ 5,608,272",NaN,NaN,NaN
294,Stefan Bajcetic,Liverpool,Reserve,M,DM,18,Spain,True,False,"Jan 26, 2023",...,NaN,"€ 9,584,412","€ 5,252,995","£ 8,320,000","£ 4,560,000","$ 10,232,637","$ 5,608,272",NaN,NaN,NaN
20,Virgil van Dijk,Liverpool,Starter,D,CB,32,Netherlands,True,False,"Aug 13, 2021",...,NaN,"€ 26,357,133","€ 14,491,815","£ 22,880,000","£ 12,580,000","$ 28,139,750","$ 15,471,943",NaN,NaN,NaN
25,Thiago,Liverpool,Reserve,M,CM,32,Spain,True,False,"Sep 18, 2020",...,NaN,"€ 11,980,515","€ 6,589,283","£ 10,400,000","£ 5,720,000","$ 12,790,796","$ 7,034,938",NaN,NaN,NaN
37,Trent Alexander-Arnold,Liverpool,Starter,D,RB,24,England,True,False,"Jul 30, 2021",...,NaN,"€ 21,564,927","€ 11,865,318","£ 18,720,000","£ 10,300,000","$ 23,023,432","$ 12,667,807",NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              565 non-null    object
 1   club              565 non-null    object
 2   status            565 non-null    object
 3   position          565 non-null    object
 4   position_detail   565 non-null    object
 5   age               565 non-null    int64
 6   country           565 non-null    object
 7   active            565 non-null    bool
 8   loan              565 non-null    bool
 9   signed            565 non-null    object
 10  expiration        565 non-null    object
 11  years             565 non-null    int64
 12  weekly_gross_eur  546 non-null    object
 13  annual_gross_eur  546 non-null    object
 14  weekly_net_eur    546 non-null    object
 15  annual_net_eur    546 non-null    object
 16  weekly_gross_gbp  546 non-null    object
 17  annual_gross_gbp  546 non-null    object
 18  weekly_net_gbp    546 non-null    object
 19  annual_net_gbp    546 non-null    object
 20  weekly_gross_usd  546 non-null    object
 21  annual_gross_usd  546 non-null    object
 22  weekly_net_usd    546 non-null    object
 23  annual_net_usd    546 non-null    object
 24  bonus_gross_eur   24 non-null     object
 25  bonus_net_eur     24 non-null     object
 26  bonus_gross_gbp   24 non-null     object
 27  bonus_net_gbp     24 non-null     object
 28  bonus_gross_usd   24 non-null     object
 29  bonus_net_usd     24 non-null     object
 30  total_gross_eur   546 non-null    object
 31  total_net_eur     546 non-null    object
 32  total_gross_gbp   546 non-null    object
 33  total_net_gbp     546 non-null    object
 34  total_gross_usd   546 non-null    object
 35  total_net_usd     546 non-null    object
 36  release_eur       6 non-null      object
 37  release_gbp       6 non-null      object
 38  release_usd       6 non-null      object
dtypes: bool(2), int64(2), object(35)
memory usage: 164.5+ KB